* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    font-family: "Proxima Nova", Helvetica, sans-serif;
}
ul {
    margin-right: 24px;
}
li {
    display: inline;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
}
@media only screen and (min-width: 625px) {
    .mobile {
        display: none;
    } 
}
@media only screen and (max-width: 625px) {
    ul {
        display: none;
    }
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1.5rem;
}
.nav {
    margin-left: 16px;
}
.fade {
    opacity: 0.75;
}
.fademore {
    opacity: 0.5;
}
.bold {
    font-weight: bold;
}
.banner {
    width: 100%;
    min-width: 480px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: whitesmoke;
}
@media only screen and (max-width: 625px) {
    .banner {
        flex-direction: column;
        width: 100%;
    }
    .banner img {
        min-width: 480px;
        width: auto;
        height: 100%;
        margin: 0;
    }
    .intro {
        width: 100%;
        padding: 0 0 2rem 2rem;
    }
}
.banner img {
    width: 58%;
    height: auto;
    margin: 2rem 1.5rem;
}
.intro {
    display: inline-flex;
    flex-direction: column;
}
.intro h3 {
    margin: 2rem 0 1.5rem 0;
}
h1 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
    margin: 1.5rem 0;
}
.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: darkslategray;
    color: white;
    font-size: 1.5rem;
    border: none;
}
.maincontainer {
    display: flex;
    width: 100%;
}
.caption {
    width: 60%;
    margin: 2rem 1.5rem;
}
@media only screen and (max-width: 625px) {
    .caption {
        display: none;
    }
}
.news {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 2rem;
    min-width: 450px;
}
@media only screen and (max-width: 625px) {
    .news {
        width: 100%;
        align-content: center;
    }
}
.caption img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}
.caption h1 {
    margin-bottom: 1.5rem;
}
.emanuel {
    margin: 2rem 0;
}
.date {
    display: flex;
    margin: 0 1rem 1rem 1rem;
}
@media only screen and (max-width: 625px) {
    .date {
        flex-direction: column;
        width: 100%;
    }
    .date img {
        width: 100%;
    }
}
.date img {
    width: 35%;
    height: auto;
    margin-right: 1rem;
}
.campus {
    display: flex;
    margin: 1rem;
}
@media only screen and (max-width: 625px) {
    .campus {
        flex-direction: column;
        width: 100%;
    }
    .campus img {
        width: 100%;
    }
}
.campus img {
    width: 35%;
    height: auto;
    margin-right: 1rem;
}
.guest {
    display: flex;
    margin: 1rem;
}
@media only screen and (max-width: 625px) {
    .guest {
        flex-direction: column;
        width: 100%;
    }
    .guest img {
        width: 100%;
    }
}
.guest img {
    width: 35%;
    height: auto;
    margin-right: 1rem;
}
.space {
    margin: 0.5rem 0;
}
a {
    color: blue;
}
.startlearning {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
}
.start {
    padding-top: 2rem;
    text-align: center;
    margin: 0 0 2rem 0;
}
.course {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
    padding-right: 1rem;
}
.courses {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
    padding-right: 1rem;
}
.window {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    background-color: white;
    width: 30%;
}
.windows { 
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
}
.course img {
    height: auto;
}
.courses img {
    height: auto;
}
.window h3 {
    margin: 1rem 0 0.5rem 1rem;
}
.windows h3 {
    margin: 1rem 0 0.5rem 1rem;
}
.window p {
    margin: 0 0 1.5rem 1rem;
}
.windows p {
    margin: 0 0 1.5rem 1rem;
}
.the {
    display: block;
    text-align: center;
    padding: 2rem 0;
}
.thesis {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}
.top {
    text-align: center;
    padding: 2rem 0;
}
.bottom {
    display: inline-flex;
}
.vid {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin: 0 1.5rem;
}
video {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}
.right {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 40%;
    height: auto;
}
.vid p {
    margin: 0.5rem 0 2rem 0;
}
.fisma {
    display: inline-flex;
}
.nowandthen {
    display: inline-flex;
}
.exhibit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.right img {
    width: 35%;
    height: auto;
    padding: 1rem;
}
.right h3 {
    font-size: 2rem;
}
h4 {
    font-size: 2rem;
}
.foot {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem;
}
.footerr {
    text-align: right;
    display: flex;
}
.footerr p {
    margin-left: 1rem;
}